<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full min-h-screen bg-zinc-900 text-white p-10">
       <div class="w-full flex justify-end">
        <a class="bg-red-500 rounded-md px-3 py-2 mb-5 text-sm inline-block" href="/logout">logout</a>
       </div>
        <h3 class="text-3xl">Hello, <%= user.name %> 👋🏻</h3>
        <h5 class="mb-5">You Can Create a New Post</h5>

        <form action="/post" method="post">
            <textarea name="content" placeholder="What's on your mind?" class="block p-3 outline-none w-1/3 resize-none bg-transparent border-2 border-zinc-800 rounded-md"></textarea>
            <input type="submit" class="px-3 py-2 text-sm bg-blue-500 block rounded-md mt-2 w-240" value="Create New Post">
        </form>

        <div class="post mt-20 mb-4">
            <h3 class="text-md text-zinc-400">Your Post.</h3>
            <div class="postContainer md-4 rounded-md">
                <% user.posts.reverse().forEach(function(post) { %> 
                    <div class="post w-1/3 p-4 border-[1px] border-zinc-700 bg-zinc-800">
                        <h4 class="text-blue-500 mb-2">@<%= user.name %></h4>
                        <p class="text-sm tracking-tight text-white"><%= post.content %></p>
                        <small class="mt-2 inline-block"><%= post.like.length %> Like</small>
                        <div class="btns flex gap-4 mt-1">
                            <a class="text-blue-500" href="/like/<%= post._id %>">
                                <%= post.like.indexOf(user._id) === -1 ? "Like" : "Unlike" %>
                            </a>
                            <a class="text-zinc-600" href="/edit/<%= post._id %>">Edit</a>
                            <form action="/post/<%= post._id %>/delete" method="POST">
                                <button type="submit" class="text-red-500">Delete</button>
                            </form>
                            

                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</body>
</html>
